p{
  font-size: 28px;
}

img{
  max-width: 100%;
}


#section1{
  background-color: rgb(245, 240, 230);
  display:inline-block;
}

#section2{
  background-image: url("https://www.ucsd.edu/_resources/img/bg-orbs-1.jpg");
  display:inline-block;
}


#section2 h2{
  color: white;
}

#section2 p{
  color: white;
}

#section3{
  background-color: rgb(245, 240, 230);
  display:inline-block;
}

#section4{
  background-image: url("https://www.ucsd.edu/_resources/img/bg-orbs-1.jpg");
  display:inline-block;
}

#section4 h2{
  color: white;
}

#section4 label{
  color: white;
  padding-top: 20px;
}



.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  grid-auto-rows: minmax(100px, auto);
}
.one {
  grid-column: 1;
  grid-row: 1/5;
  background-color: #182b49;
  color: white;
  max-height: 500px;
  overflow: scroll;
  text-align: center;
}
.two {
  grid-column: 2;
  grid-row: 1/5;
  background-color: #182b49;
  color: white;
  max-height: 500px;
  overflow: scroll;
  text-align: center;
}
.three {
  grid-column: 3;
  grid-row: 1/5;
  background-color: #182b49;
  color: white;
  max-height: 500px;
  overflow: scroll;
  text-align: center;
}
.four {
  grid-column: 4;
  grid-row: 1/5;
  background-color: #182b49;
  color: white;
  max-height: 500px;
  overflow: scroll;
  text-align: center;
}

#navbar {
  position: sticky;
  list-style-type: none;
  top: 0;
  overflow: hidden;
  background-color: white;
  }

li {
  max-width: 400px;
  float: left;
}

li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 28px;
}

li a:hover {
  background-color: #182b49;
  color: white ;
}

@media screen and (max-width: 800px) {
  #navbar {
    display: none;
  }
  img {
    max-width: 75%; 
  }
  h2 {
    font-size: 24px;
  }
  p {
    font-size: 20px;
  }

  .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    grid-auto-rows: minmax(100px, auto);
  }

  .one {
    grid-column: 1;
    grid-row: 1;
    background-color: #182b49;
    color: white;
    max-height: 500px;
    overflow: scroll;
    text-align: center;
  }
  .two {
    grid-column: 2;
    grid-row: 1;
    background-color: #182b49;
    color: white;
    max-height: 500px;
    overflow: scroll;
    text-align: center;
  }
  .three {
    grid-column: 1;
    grid-row: 2;
    background-color: #182b49;
    color: white;
    max-height: 500px;
    overflow: scroll;
    text-align: center;
  }
  .four {
    grid-column: 2;
    grid-row: 2;
    background-color: #182b49;
    color: white;
    max-height: 500px;
    overflow: scroll;
    text-align: center;
  }
}